body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px;
    font-size: 2em;
}

#auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.auth-link {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.auth-link:hover {
    background-color: #00C6FF;
}

.page-link {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    margin: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.page-link:hover {
    background-color: #00C6FF;
}