{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block css_addition %}
    <link rel="stylesheet" href="{% static 'tournaments/css/entity.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <nav class="nav-links">
            <a href="{% url 'main_page' %}" class="nav-link">Главная страница</a>
            <a href="{% url link.1 %}" class="nav-link">{{ link.0 }}</a>
        </nav>

        <hr>

        <h1>{{ title }}</h1>

        {% if user == object.owner or user.is_staff %}
            <div class="nav-links">
                <a href="{% url delete_page object.id %}" class="nav-link">Удалить</a>
                <a href="{% url edit_page object.id %}" class="nav-link"> Изменить </a>
            </div>
        {% endif %}

        <ul class="property-list">
            {% for field_name, field in fields.items %}
                <li>
                    <strong>{{ field_name }}:</strong> 
                    {{ object|get_attribute:field }}
                </li>
            {% endfor %}

            {% for foreign_name, foreign in foreigns.items %}
                {% with foreign_obj=object|get_attribute:foreign.0 model_name=foreign.1%}
                    <li>
                        <strong>{{ foreign_name }}:</strong> 
                        <a href="{% url model_name foreign_obj.id %}" class="property-link">{{ foreign_obj }}</a>
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}