{% extends 'base.html' %}

{% load static %}
{% block css_addition %}

<link rel="stylesheet" href="{% static 'tournaments/css/list.css' %}">
<link rel="stylesheet" href="{% static 'base.css' %}">

{% endblock %}

{% block content %}
{% load custom_filters %}
    <a href="{% url 'main_page' %}" class="main-page-link">Главная страница</a>
    <ul>
        {% for entity in entities %}
            <li>
                <a href="{% url link entity.id %}">  {{entity_name}}: {{ entity.id }}</a><br>
                {% for field_name, field in fields.items %}
                    {{ field_name }}: {{ entity|get_attribute:field }}<br>
                {% endfor %}
            </li>
            {% if not forloop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}