{% extends 'base.html' %}

{% load static %}
{% block css_addition %}

<link rel="stylesheet" href="{% static 'tournaments/css/list.css' %}">


{% endblock %}

{% block content %}
{% load custom_filters %}
    <nav class="nav-links">
        <a href="{% url 'main_page' %}" class="nav-link">Главная страница</a>
        {% if user.is_authenticated %}
            <a href="{% url create %}" class="nav-link">Создать</a>
        {% endif %}
    </nav>

    <ul class="property-list">
        {% for entity in entities %}
            <li>
                <a href="{% url link entity.id %}" class="property-link">  {{entity_name}}: {{ entity }}</a><br>
                {% for field_name, field in fields.items %}
                    <strong>{{ field_name }}:</strong> {{ entity|get_attribute:field }}<br>
                {% endfor %}
            </li>
            {% if not forloop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}